* {
    text-transform: capitalize;
    font-family: urbanist, sans-serif;
}

.form-contaner {
    width: 50%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 8px;
    background-color:#c2c0c0;
    border-radius: 4px;
    justify-content: center;
}

form {
    padding: 4px 22px 4px 4px;
}


.icon-c img {
    width: 8rem;
    height: auto;
    padding: 3px;

}

form h1 {
    text-align: center;
    color: #4e4d4d;
    font-size: 2rem;
}

.space {
   padding: 10px 10px 10px 10px;
}

.space label {
    font-size: 22px;
    display: block;
    color: #4e4d4d;
    margin-bottom: 4px;
}

.space input {
    width: 80%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    color: #4e4d4d;
    margin-top: 4px;
    background-color: rgb(248, 248, 248);
}

.space input:hover {
    background-color:white;
    box-shadow: 4px 4px 4px #666464;
    transition: 1s;
}

.space span {
    color: #4e4d4d;;
}
.space textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    color: #4e4d4d;
    margin-top: 4px;
    background-color: #f8f8f8;
}

.space textarea:hover {
    background-color: white;
    box-shadow: 4px 4px 4px #666464;
    transition: 1s;
}

.btn-all {
    text-align: center;
}

#btn-1 {
    padding: 8px 20px;
    margin: 15px 4px;
    background-color: #16b5d8;
    border: none;
    box-shadow: 4px 4px 4px #666464;
    border-radius: 6px;

}

#btn-2 {
    padding: 8px 20px;
    margin: 15px 4px;
    background-color: #1077b6;
    border: none;
    box-shadow: 4px 4px 4px #666464;
    border-radius: 6px;
}

#btn-1:hover {
    background-color: rgb(16, 119, 184);
    box-shadow: none;
    transition: 1s;
}

#btn-2:hover {
   background-color: #0a70af;
    box-shadow: none;
    transition: 1s;
}

input.warning {
    background-color: rgb(248, 191, 145);
  }
  
  #remaining-char.warning {
    color:rgb(211, 109, 26);
  }


  input.error {
    background-color: #ff0a0a;
  }
  
  #remaining-char.error {
    color: #ff0a0a;
  }
  
  .textC {
    font-weight: 600;
    color: rgb(241, 60, 60);
  }
  