* {
    text-transform: capitalize;
    font-family: urbanist, sans-serif;
}

.form-contaner {
    width: 50%;
    margin: 2rem 20rem;
    border: 2px solid black;
    padding: 8px;
    background-color: #b6b6b6;
    box-shadow: 4px 4px 4px #666464;
    border-radius: 4px;
    justify-content: center;
}

form {
    padding: 4px 22px 4px 4px;
    box-shadow: 4px 4px 4px #666464;
}

form:hover {
    box-shadow: none;
    transition: 1s;
}

.icon-c img {
    width: 8rem;
    height: auto;
    padding: 3px;
    box-shadow: 4px 4px 4px #666464;

}

.icon-c img:hover {
    box-shadow: none;
    transition: 1s;
}

form h1 {
    text-align: center;
    color: #4e4d4d;
    font-size: 2rem;
}

.space {
   padding: 10px 10px 10px 10px;
}

.space label {
    font-size: 22px;
    display: block;
    color: #4e4d4d;
    margin-bottom: 4px;
}

.space input {
    width: 80%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    color: #4e4d4d;
    margin-top: 4px;
    background-color: #c4c2c2;
}

.space input:hover {
    background-color: #e4d4d4;
    box-shadow: 4px 4px 4px #666464;
    transition: 1s;
}

.space span {
    color: #4e4d4d;;
}
.space textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    color: #4e4d4d;
    margin-top: 4px;
    background-color: #c4c2c2;
}

.space textarea:hover {
    background-color: #e4d4d4;
    box-shadow: 4px 4px 4px #666464;
    transition: 1s;
}

.btn-all {
    text-align: center;
}

#btn-1 {
    padding: 8px 20px;
    margin: 15px 4px;
    background-color: #5858ff;
    border: none;
    box-shadow: 4px 4px 4px #666464;
    border-radius: 6px;

}

#btn-2 {
    padding: 8px 20px;
    margin: 15px 4px;
    background-color: #ff5353;
    border: none;
    box-shadow: 4px 4px 4px #666464;
    border-radius: 6px;
}

#btn-1:hover {
    background-image: linear-gradient( #5858ff,#1b1bfa);
    box-shadow: none;
    transition: 1s;
}

#btn-2:hover {
    background-image: linear-gradient( #ff5353, #fc2727);
    box-shadow: none;
    transition: 1s;
}
