* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-family: urbanist, sans-serif;
}

header {
    box-sizing: border-box;
    box-shadow: 0 2px rgb(199, 196, 196);
    position: sticky;
    top: 0;
    margin-top: 1rem;
    background-color: white;
}

.header-container {
    width: 80%;
    margin: auto;
}

.header-top {
    display: flex;
    margin: 0 auto 1rem auto;
    justify-content: space-between;
    padding-top: 1rem;
}

.header-container img {
    width: 9rem;
}

#search-bar {
    width: 45%;
    padding: 0.5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    margin-bottom: 10px;
}

#search-bar input {
    background-color: transparent;
    width: 92%;
    font-size: 1rem;
    color: rgb(70, 67, 67);
    border: none;

}

.side-nav a {
    margin: 1rem;
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

/* down-menu */

.down-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size: 16px;
    padding: 0 1rem 22px 0;
}

.down-menu a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

/* second menu */

.sub-menu {
    display: none;
    position: absolute;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    margin-top: 3px;
    padding: 0.8rem 1rem;
}

 .product-hover:hover .sub-menu {
    display: block;
    transition: 1s;
 }


/* footer style */

footer {
    background-color: #353332;
    padding: 2rem 0 0 0;
    color: white;
    justify-content: center;
}
.footer-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    justify-content: center;
}

.logo-footer img {
    width: 12rem;
    height: 2rem;
}
.footer-left {
    width: 26rem;
}

.footer-left p {
    padding-top: 2rem;
    font-size: 1rem;
    width: 20rem;
}
.footer-left h3 {
    padding: 1rem 1rem 1rem 0rem;
    font-weight: 400;
}

.footer-left h3 img {
    width: auto;
    height: 1.2rem;
    margin-left: 0.5rem;
}

.email {
    width: 23rem;
    font-size: 1rem;
    color: white;
    border: 1px solid white;
    padding: 7px;
    border-radius: 0.5rem;
}
.email img {
    width: 1.5rem;
}
.footer-left input {
    width: 20rem;
    background-color: transparent;
}
.footer-left h3 {
    font-size: 1rem;
}
.footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-right {
    width: 40rem;
}

.about-us {
    margin: 0.5rem;
}
.about-us h3 {
    margin: 2rem 2rem 0.5rem 2rem;
    font-size: 1.5rem;
}

.about-us a {
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-size: 15px;
    
}
.about-us a:hover {
    text-decoration: underline;
    color: white;
}

.div-2 div {
    margin: 0.5rem;
}

.last-line div {
    background-color: #353332;
    color: white;
    border-top: 1px solid white;
    padding: 1rem;
    text-align: center;
    width: 68rem;
    margin: auto;
    font-size: 0.9rem;
}
.email button {
    background-color: transparent;
}

@media(max-width: 48rem) {
    .menu-btn {
        display: block;
    }
    .side-nav {
        display: none;
    }
}