* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-family: urbanist, sans-serif;
    justify-content: center;
}

header {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px rgb(199, 196, 196);
    position: relative;
    margin-top: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;

}

nav {
    width: 100%;
    padding: 0.7rem 0;
    position: relative;
    top: 0;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar {
    background-color: rgb(248, 248, 248);
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    margin: 10px;
}

#search-bar input {
    background-color: transparent;
    width: 26rem;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(70, 67, 67);

}

.side-nav {
    display: flex;
    align-items: center;
    margin-left: 6rem;
}

.side-nav a {
    margin: 0 1rem;
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
}

#page-logo img {
    width: 9rem;
    margin-right: 5rem ;

}

.container a {
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

#section2 {
    position: relative;
}


#menu {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -2rem;
}

.menublock {
    margin: 1.8rem;
}

/* section style */
#productprice,
li,
ul {
    display: flex;
    text-align: center;
    justify-content: center;

}

#productsprice {
    display: flex;
    text-align: center;
    justify-content: center;
}

.productsprice {
    background: rgb(240, 240, 240);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 22px;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    box-sizing: border-box;
    text-wrap: wrap;
}

.products h2 {
    margin: 0;
}

.products {
    margin: 3rem;
    margin-left: 0;
    width: 14rem;
}

.svg-icon {
    display: flex;
    justify-content: center;
}

svg {
    width: 35px;
    height: 35px;
    margin-top: 5rem;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(243, 242, 242);
    margin-right: 1rem;
}

.bc {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 3rem;
}

.color {
    background: rgb(248, 248, 248);
}

.color ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 2rem auto;
    padding: 4rem;
}

.color li {
    width: 22rem;
    height: 12rem;
    box-shadow: 0px 7px 12px #00000029;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
}

.color li:hover {
    box-shadow: 0 14px 25px #00000029;
}

.color li img {
    width: 2rem;
    height: 2rem;
    margin: 1rem auto;
}

.sec-banner {
    text-align: center;
}
.sec-banner h2 {
    padding-bottom: 1rem;
}

/* section mantaining*/
#down-sec {
    margin-top: 0;
    padding-top: 0;
}

#uper-sec {
    margin-bottom: 20px;
    padding-bottom: 0;
}

/* section first slide */
.banner-text {
    font-size: 2rem;
    font-weight: 400;
    margin-right: 46px;
}

span {
    margin: 0 4px;

}

/* section of products */
.products-2 li {
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
}

.products-2 li img {
    width: 100%;
    height: auto;
}

.products-2 li h4 {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 0px;

}

.products-2 li p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}

#products-collection {
    display: flex;
    flex-wrap: wrap;
}
#products-collection li {
    width: 33rem;
    height: 17rem;
}
#last li {
    width: 21.5rem;
    height: 17rem;
    margin-top: -9rem;
}
#last li img {
    width: 50%;
    height: auto;
    align-items: center;
    object-fit: fill;
}

#products-collection img {
    width: 40%;
    height: auto;
    align-items: center;
}

#products-collection p {
    text-align: center;
}

.blue {
    color: rgb(0, 167, 207);
    display: inline-block;
}

.green {
    color: rgb(15, 190, 122);
    display: inline-block;
}

#orange {
    color: rgb(235, 117, 85);
    display: inline-block;
}

#products-collection li {
    justify-content: center;
}

/* section 5 */

#background-img ul {
    display: flex;
    flex-direction: row;
    
    width: auto;
    gap: 1rem;

}

#background-img li{
    width: 33rem;
    height: 12rem;
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 8px;
    object-fit: fill;
    display: block;
    justify-self: start;
    
}

#background-img .image-1 {
   
    background-image: url(image/sc-background/01.jpg);

}

#background-img .image-2 {
    background-image: url(image/sc-background/2.jpg);
}

#background-img .image-3 {
    background-image: url(image/sc-background/03.jpg);
}

#background-img .image-4 {
    background-image: url(image/sc-background/04.jpg);
}

#background-img p {
    width: 19rem;
    text-align: left;
    font-size: 29px;
    color: white;
    font-weight: 300;
    text-transform: none;
    text-wrap: wrap;
    padding: 2rem 0rem 1rem 2rem;
}
#background-img div {
    text-align: left;
    margin-left: 2rem;
}

#background-img a {
    text-decoration: none;
    background-color: #0066a9;
    padding: 12px 20px;
    color: white;
    border-radius: 4px;
    text-align: left;
    font-weight: 600;
}
#background-img a:hover {
    background-color: #0c3d5e;
    transition: 0.5s;
}


#background-img span {
    margin: 0;
    font-weight: 400;
}
.btn {
    margin: 1rem;
}

/* footer style */

footer {
    background-color: #353332;
    padding: 2rem;
    color: white;
    justify-content: center;
}
.footer-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.logo-footer img {
    width: 12rem;
    height: 2rem;
}
.footer-left {
    width: 26rem;
}

.footer-left p {
    padding-top: 2rem;
    font-size: 1.2rem;
}
.footer-left h3 {
    padding: 1rem 1rem 1rem 0rem;
    font-weight: 400;
}

.footer-left h3 img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.footer-left input {
    background-color: transparent;
    width: 24rem;
    font-size: 1rem;
    color: white;
    border: 2px solid white;
    padding: 7px;
    border-radius: 0.5rem;
}
.email h3 {
    font-size: 1.6rem;
}
.footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-right {
    width: 40rem;
}

.about-us {
    margin: 0.5rem;
}
.about-us h3 {
    margin: 2rem 2rem 0.5rem 2rem;
    font-size: 1.5rem;
}

.about-us a {
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-size: 15px;
    
}
.about-us a:hover {
    text-decoration: underline;
    color: white;
}

.div-2 div {
    margin: 0.5rem;
}